.third_section {
  background: url("../assets/images/top-right-bg.png") top right no-repeat,
    url("../assets/images/bottom-left-bg.png") bottom left no-repeat, #000;
  background-size: 50% auto, 50% auto;
  padding: 10px 80px 60px;
}
.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .cards-section {
    grid-template-columns: 1fr 1fr; /* 2 cards per row */
  }
}

@media (max-width: 600px) {
  .cards-section {
    grid-template-columns: 1fr; /* 1 card per row */
  }
}
.sec_heading {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 500; /* bold weight */
  font-size: 42px;
  min-height: 60px; /* Reserve space for all headings */
  line-height: 52px;
  letter-spacing: 0;
}
.sub_heading {
  font-family: "Lato", sans-serif;
  font-weight: 500; /* bold weight */
  font-size: 20x;
  margin-top: 20px;
  line-height: 31px;
}
