.contact-form input,
.contact-form textarea {
  padding: 14px 18px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #555;
}

.contact-form button {
  padding: 14px 20px;
  font-size: 16px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #333;
}

/* Responsive Layout for 2-column fields */
@media (min-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr 1fr;
  }

  .contact-form .full-width {
    grid-column: 1 / -1;
  }
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    54.41% 125.28% at 0% 0%,
    rgba(30, 30, 30, 0.4) 0%,
    rgba(18, 18, 18, 0.5) 100%
  );
  z-index: 1;
}

/* Ensure content inside is above the overlay */
.contact-section > * {
  position: relative;
  z-index: 2;
}

.small_title {
  font-family: Lato;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.big_title {
  font-family: Lato !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  line-height: 44px !important;
  letter-spacing: 0%;
  margin-top: 1rem;
  color: white;
  margin-bottom: 0px !important ;
}

.contact-section .left-column {
  flex: 1;
  padding-right: 2rem;
}
.right-columnFlex {
  flex: 1;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0rem;
  padding: 60px 80px 100px;
  position: relative;
  background-image: url("/images/contact_bg_flip.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.left-column,
.right-columnFlex {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.left-column,
.right-columnFlex {
  min-height: 100%;
}
.formDiv {
  border: 2px solid grey;
  padding: 2rem;
  justify-content: space-evenly;
  margin: inherit;
}

.formDiv h3 {
  font-family: Lato;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: rgba(255, 255, 255, 1);
  width: 90%;
  margin: auto;
  margin-left: 3%;
  margin: 0 auto 0 0;
}
